[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "XML2R"]
	path = XML2R
	url = https://github.com/cpsievert/xml2r
	shallow = true
	registered = true
[submodule "pitchRx"]
	path = pitchRx
	url = https://github.com/cpsievert/pitchrx
	shallow = true
	registered = true
[submodule "LDAvis"]
	path = LDAvis
	url = https://github.com/cpsievert/ldavis
	shallow = true
	registered = true
[submodule "plotlyGeoAssets"]
	path = plotlyGeoAssets
	url = https://github.com/cpsievert/plotlygeoassets
	shallow = true
	registered = true
